{port_specs, [{"priv/erlzmq_drv.so", ["c_src/*.c"]}]}.
{port_env,
 [{"DRV_LDFLAGS","-shared $ERL_LDFLAGS -lstdc++ -lzmq"},
  {"darwin", "DRV_LDFLAGS", "-bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
  {"netbsd", "DRV_LDFLAGS", "-shared $ERL_LDFLAGS -lstdc++ -lzmq"},
  {"DRV_CFLAGS","-Ic_src -g -Wall -fPIC $ERL_CFLAGS"}]}.

{erl_opts, [debug_info, warnings_as_errors]}.
